// Zero out the @page clipping ---
@mixin global-styles {

  @page {
    size: A4;
    margin: 0mm; // Removes the browser's clipping "window"
  }

  html,
  body {
    font-family: "Comic Neue", "Comic Sans MS", cursive, sans-serif;
    margin: 0;
    padding: 0;
    // This padding replaces the @page margin safely
    //padding-top: $safe-gap; 
  }
}

@mixin dnd-stats {
  .stats {
    font-size: 80%;

    .attributes {
      table {

        td,
        th {
          padding: 0.1em 0.4em;

          &:nth-child(3),
          &:nth-child(6) {
            padding-right: 0.5em;
            border-right: 0.05em solid gray;
          }

          &:nth-child(4),
          &:nth-child(7) {
            padding-left: 0.5em;
          }
        }
      }
    }
  }
}