<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="./style.css">
        {% for card in cards %}
            {% if card.image %}
                <link rel="preload" as="image" href="../images/{{ card.image }}">
            {% endif %}
        {% endfor %}
        <style>
            {% for card in cards %}
                #card-{{ loop.index }} .card {
                    background-image: url('../images/{{ card.image }}');
                    {% if card.image_size %}
                        background-size: {{ card.image_size }};
                    {% endif %}
                }
            {% endfor %}
        </style>
    </head>
    <body>
        <div class="page">
            {% for card in cards %}
                <div class="box" id="card-{{ loop.index }}">
                    <div class="card">
                        <div class="content">
                            <h2>{{ card.title }}</h2>
                            <p>{{ card.text }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </body>
</html>